a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 60px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin:0;
  padding: 20px;
}
body {
  margin: 0;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol {
  border-right: 1px solid gray;
  width: 100;
  margin: 0;
  padding: 20;
}
@media(min-width:713px) {
  #grid {
    display: block;
  }
  #grid ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
